<div class="moodname"><%= @mood.name %></div>
<div class="player"><iframe width="960" height="180" src="<%= @playlists.select {|playlist| playlist['name'] == @mood.name }.first["embedUrl"]%>"></iframe></div>