#container {
  max-width: 960px;
  margin: auto;
  background-color: #CCCCCC;
  background-size: cover;
  padding: 1em;
}

#main_links {
  background-color: #65BFFD;
  padding: .5em;
  margin-bottom: .2em;
  text-align: center;
}

#smartnav {
  background-color: #E6101A;
  text-align: center;
}

#mood_list {
  margin-left: 30px;
}

#mood_list li {
  color: white;
  text-align: center;
  list-style: none;
  text-decoration: none;
  margin: auto;
  display: inline-block;
  background-color: red;
  padding: 2em;
  margin: 2em;
  min-width: 85px;
  max-width: 85px;
  border-radius: 20%;
}

#mood_list a:hover {
  background-color: white;
  padding: .7em;
  border-radius: 20%;
}

h1, h2 {
  text-align: center;
}

h3 {
  background-color: #E6101A;
  max-width: 300px;
  padding: .5em;
  border-radius: 0 50px 50px 0px;
}

#smartnav li {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: .5em;
  margin: auto;
}